pages:
  stage: deploy
  image: busybox
  script: | 
    sh build.sh
    cp -prvf build public
    echo "User-agent: *" > public/robots.txt
    echo "Allow: /" >> public/robots.txt
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
