html,
body {
    margin: 0;
    padding: .5em;
    background-color: #fff; /* Dark background color */
    color: #fff; /* Light text color */
}

.main {
    display: flex;
    flex-direction: column;
    border: 1px solid #444; /* Dark border */
    border-radius: 6px 6px 6px 6px;
    min-height: 50vh;
    background: #353535; /* Dark background */
    box-shadow: 0 0 5px 5px #353535; /* Darker shadow */
    border: 1px solid #000;
}

.header {
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(#333, #262626); /* Dark gradient */
    padding: .25em;
    border-radius: 6px 6px 0 0;
    border-bottom: 1px solid #000;
}

.header-left {
    display: flex;
    gap: .25em;
}

.end-of-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

a {
    color: #729fcf; /* Light link color */
    text-decoration: none;
}

.route {
    background: linear-gradient(#343434, #313131); /* Dark gradient */
    padding: 6px 10px;
    margin: 3px;
    text-decoration: none;
    font-weight: bolder;
    color: #eee; /* Light text color */
    border-radius: 4px;
    box-shadow: 0 1px 1px 0px #1f1f1f; /* Darker shadow */
    border: 1px solid #1f1f1f;
}

.content {
    flex-grow: 1;
    padding: 12px;
    font-family: Monospace;
    font-size: large;
}

footer {
    align-self: flex-end;
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: 1px solid #444; /* Dark border */
    padding-top: 3px;
    padding-bottom: 3px;
}

