<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/style.css">
    <meta name="description" content="Wellcome to TurkMan Linux, Yerli ve Milli Package manager, GNU/Linux, CcC">
    <meta name="google-site-verification" content="qhh-Yt-WAJZMRVNqeKnxIOyY0-OOgnUTdMHh4cF0R84" />
    <meta name="keywords" content="Linux, TurkMan, open source, operating system, free software, yerli ve milli">
    <meta name="author" content="TurkMan Linux">
    <meta name="robots" content="index, follow">
    <meta property="og:url" content="https://turkman.gitlab.io/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Turkman Linux">
    <meta property="og:description" content="Wellcome to TurkMan Linux, Yerli ve Milli Package manager, GNU/Linux, CcC">
    <meta property="og:image" content="https://turkman.gitlab.io/devel/doc/wiki/_static/logo.svg">

    <title>Turkman Linux</title>
</head>

<body>
    <div class="main">
        <div class="header">
            <div class="header-left">
                <a href="/" class="route"> <span>
                        Home
                    </span> </a>
                <a href="https://turkman.gitlab.io/devel/doc/wiki/" class="route">
                    Wiki (Turkish)
                </a>
            </div>
            <div class="header-right">
                <a href="https://github.com/turkman-linux/.github/blob/main/profile/README.md" class="route">
                    Download
                </a>
            </div>
        </div>

        <div class="content">
