<html>
    <head>
        <link rel="Stylesheet" href="assets/css/extra.css" />
        <link rel="Stylesheet" href="assets/css/main.css" />
    </head>
    <body>
        <div class="main">
            <!--header begin-->
            <div class="header" >
                <table >
                    <tr>
                        <th>
                            <img src="assets/image/logo.svg" class="logo" >
                            </th>
                            <th>
                                <H2>Turkman Linux</H2>
                            </th>
                        </tr>
                    </table>
                    <nav class="navbar" >
                        <ul>
                            <li>
                                <a href="index.html" >Home</a>
                            </li>
                            <li>
                                <a href="https://turkman.gitlab.io/devel/doc/wiki/" >Wiki (Turkish)</a>
                            </li>
                            <li>
                                <a href="#" >Download</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!--header end-->
                <!--content begin-->
