                <!--content end-->
                <!--footer begin-->
                <footer>
                    <center>
                        <H4>&copy; 2022 - 2023 Turkman Linux</H4>
                    </center>
                    <center>
                        The software used in this project is licensed with GPLv2 GPLv3 LGPLv2 LGPLv3 AGPLv3. 
                        <br> The website is under MIT license. 
                        </center>
                    </footer>
                    <!--footer end-->
                </div>
            </body>
        </html>
